* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html,
body {
  margin: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dde3eb;
  color: #eed8c4;
}

h4 {
  color: #2f2e41;
}

.whitespace {
  margin: 3em 0;
}
